.products {
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f0f0f0;
}

.buttonDelete,
.buttonEdit {
    padding: 8px 12px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonDelete {
    background-color: #a01d13;
}

.buttonEdit {
    background-color: #143e97;
}

.buttonEdit:hover {
    background-color: #1f66ff;
    transform: scale(1.05);
}

.buttonDelete:hover{
    background-color: #ff3d20;
    transform: scale(1.05);
}

.area {
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.formName,
.formBrand {
    margin-bottom: 20px;
}

label {
    font-weight: 500;
}

.fieldName,
.fieldBrand {
    padding: 10px;
    font-size: 16px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.fieldName:focus,
.fieldBrand:focus {
    border-color: #4285f4;
    box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
}

.products__buttons .buttonPut {
    margin-right: 10px;
}

.buttonPost,
.buttonPut,
.buttonCancel {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonPost {
    background-color: #32cd32;
}

.buttonPut {
    background-color: #4285f4;
}

.buttonCancel {
    background-color: #f22f21;
}

.buttonPost:hover {
    background-color: #209622;
}

.buttonPut:hover {
    background-color: #0b63f0;
}

.buttonCancel:hover {
    background-color: #cf0f01;
}

.fieldName.invalid,
.fieldBrand.invalid {
    border-color: #ff6347; 
}

.fieldName.valid,
.fieldBrand.valid {
    border-color: #4caf50;
}


@media only screen and (max-width: 600px) {
    .formName,
    .formBrand {
        width: 100%; 
    }

    .products__buttons .buttonPut {
        margin-right: 5px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.confirmation-modal {
    position: fixed;
    z-index: 9999;
    border: 1px solid #ccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.confirmation-modal p {
    margin-bottom: 20px;
}

.confirmation-modal button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirmation-modal button:first-child {
    background-color: #df523a;
}

.confirmation-modal button:last-child {
    background-color: #32cd32;  
}